/* GERAL */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.container-cards {
    display: flex;
    justify-content: center;
    padding: 20px;
    transition: 0.5s;
}

ul {
    padding: 0px;
    list-style: none;
}

/* HEADER + FORM FILTRO */

.header-index {
    background-color: #1e1e1e;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header-index h1 {
    color: #f4f4f4;
    margin: 0px;
}

.form-filtro {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.form-filtro label {
    color: #f4f4f4;
}

/* MAIN / CARDS */

.salas-list {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0px auto;
    max-width: 1200px;
    justify-content: center;
}

.salas-list > li {
    background: #f4f4f4;
    padding: 12px;
    width: 200px;
    border-radius: 8px;
}

.salas-list > li:hover {
    background: #e0e0e0;
    cursor: pointer;
}

.salas-list > li > ul {
    display: grid;
    gap: 8px;
}
