.header-index {
    background-color: #1e1e1e;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 40px;
}

.header-index h1 {
    color: #f4f4f4;
    margin: 0px;
}

.form-filtro {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.form-filtro label {
    color: #f4f4f4;
}
